.egresos td{
    width: 50%;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.egresos .formulario td{
    width: 50%;
    font-weight: 400;
    font-size: 20px;
    color:white;
}

.egresos input{
    font-size: 20px;
    border-radius: 5px 5px;
    border: 0;
}

.egresos select{
    font-size: 20px;
    border-radius: 5px 5px;
    border: 0;
}

input[type=radio]{
    margin-right: 5px;
    margin-left: 10px;
}

button:focus,button:hover{
    /*border-color:var(--hover);*/
    color:#fff;
}

.formulario2 button:hover{
    /*border-color:var(--hover);*/
    color:#fff;
}

button{
    transition:.25s;
    background: #00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.3em;
    padding: 0.5em 0.5em;
    font-size: 20px;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
    font-weight: 200;
}

.table-wrapper .acciones{
    display: flex;
}

.table-wrapper .acciones input{
    margin-right: 10px;
    margin-left: 5px;
    padding: 0;
    border: none;
    background: none;
    cursor:pointer;
}

.egresos .formulario3 td{
    width:25%;
    font-weight: 400;
    font-size: 20px;
    vertical-align: top;
}

input[type=checkbox]{
    margin-top: 15px;
}

h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-block-start: -75px;
}

table {
    margin: 0 0 0.6em 0;
    width: 900px;
    border-collapse: collapse;
    background-color: #01468a;
}