#mensajes{

    width: 80%;
    height: 80%;

}

.fas fa-check{
    color: #4caf50;
}

.fas fa-times{
    color: red;
}

.table-wrapper button{
    background: transparent;
    border: none !important;
    cursor:pointer;
    font:inherit;
    line-height:1;
}

.table-wrapper button:focus {
    outline:none;
}

.table-wrapper td{
    color:white;
}

.table-wrapper th{
    color:white;
}

.table-wrapper tr{
    color:white;
}

.table-wrapper thead{
    color: white;
}

table {
    margin: 0 0 0.6em 0;
    width: 1500px;
    border-collapse: collapse;
    background-color: #01468a;
}

h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-block-start: -43px;
}

.table-wrapper .tabla-de-mensajes td{
    width:25%;
    font-weight: 400;
    font-size: 20px;
    vertical-align: top;
}
