 .formmulario td{
    width: 50%;
}

 .formulario input{
     font-size: 18px;
     border-radius: 10px 10px;
     border: 0;
 }

 .formulario select{
     font-size: 18px;
     border-radius: 10px 10px;
     border: 0;
 }

.altaEntidadJuridica button{
    transition:.25s;
    background:#00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.5em;
    padding:1em 2em;
    font-size: larger;
    cursor:pointer;
    border-radius: 10px 10px;
    margin-block-end: 3%;
    color:white;
}

.altaEntidadJuridica button:focus,button:hover{
    color:#fff;
}

.formulario td{
    font-size: 18px;
    color:white;
}

 .formulario tr{
     font-size: 18px;
     color:white;
 }

.altaEntidadJuridica h2{
    font-size: 30px;
    color: white;
    margin-block-end: 2%;
}