.formulario td{
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    color:#fff;
}
.formulario input{
    font-size: 17px;
}

button{
    transition:.25s;
    background:#00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.5em;
    padding:1em 2em;
    font-size: larger;
    cursor:pointer;
    color:white;
}
button:focus,button:hover{

    color:#fff;
}

h2{
    color:white;
    margin-block-end: 1.5%;
}

td{
    color:white;
}