table#tabla_categorias{
  width:37%;
  height: 37%;
}


.contenidosInputs{
  display: flex;
  justify-content: space-between;
}

.containerTab{
  text-align: center;
}

.containerTab td{
  width: 50%;
  font-weight: 600;
  font-size: 20px;
}

.containerTab input{
  font-size: 17px;
  border-radius: 5px 5px;
  border: 0;
}

.tab{
  padding: 5px;
  margin: 0px;
  display: inline-block;
  float: left;
  margin-right: 40px;
  margin-left: 40px;
}

.containerTab table{
  height:100%;
  width: 100%;
}

.tablasCC{
  display: flex;
  justify-content: space-between;
  clear:both;
}

.tablasCC .tab{
  height:100%;
  width: 100%;
}

button{
  background:#00bcc1;
  border:0px solid;
  font:inherit;
  line-height:1;
  margin:.5em;
  padding:1em 2em;
  font-weight: 100;
  font-size: large;
  cursor:pointer;
  border-radius: 10px 10px;
  color: white;
}

button:hover{
  color:#fff;
}

.table-wrapper .acciones{
  display: flex;
}
.table-wrapper .acciones input{
  margin-right: 10px;
  margin-left: 5px;
  padding: 0;
  border: none;
  background: none;
  cursor:pointer;
}

.formulario1 td{
  color:white;
}

.formulario2 td{
  color:white;
}

.table-wrapper td{
  color:white;
}

.table-wrapper th{
  color:white;
}