#mensajes{

    width: 80%;
    height: 80%;

}

.fas fa-check{
    color: #4caf50;
}

.fas fa-times{
    color: red;
}

.table-wrapper button{
    background: transparent;
    border: none !important;
    cursor:pointer;
    font:inherit;
    line-height:1;
}

.table-wrapper button:focus {
    outline:none;
}

.table-wrapper td{
    color:white;
}

.table-wrapper th{
    color:white;
}

.table-wrapper tr{
    color:white;
}

.table-wrapper thead{
    color: white;
}

