.imagen img {
    width: 110%;
}


.botonAcciones button{
    transition:.25s;
    background: #00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    padding: 0.5em 0.5em;
    font-size: 25px;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
    font-weight: 200;
    margin: 10px .3em .3em 320px;
}

h6{
    color:white;
    margin-left: 180px;
    font-size: 30px;
}

h7{
    color:white;
    margin-left: 240px;
    font-size: 25px;
}