.ingresos .formulario td{
    width: 50%;
    font-weight: 400;
    font-size: 20px;
    color:white;
}

button{
    transition:.25s;
    background: #00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.3em;
    padding: 0.5em 0.5em;
    font-size: 20px;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
    font-weight: 200;
}
button:focus,button:hover{
    border-color:var(--hover);
    color:#fff;
}

.container .ingresos .formulario input{
    font-size: 17px;
    border-radius: 5px 5px;
    border: 0;
}

.container .ingresos .formulario select{
    font-size: 17px;
    border-radius: 5px 5px;
    border: 0;
}

h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 100px;
    margin-block-start: -75px;
}