.operaciones{
    width: 100%;
}


h2{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-block-start: -40px;
}

h3{
 color: white;
 font-size: 20px;
 margin-block-end: 1.5%;

}

h4{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 1.5%;

}

.table-wrapper tbody th{
    font-size: 18px;
    color:white;
}

.table-wrapper thead th{
    color:white;
}

.table-wrapper tbody td{
    font-size: 18px;
    color:white;
}

.table-wrapper thead td{
    color:white;
}

button{
    transition:.25s;
    background: #00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.3em;
    padding: 0.5em 0.5em;
    font-size: 18px;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
    font-weight: 200;
}


.listadoOperaciones select{
    font-size: 18px;
    border-radius: 5px 5px;
    border: 0;
}

.listadoOperaciones input{
    font-size: 18px;
    border-radius: 5px 5px;
    border: 0;
}