.egresos td{
    width: 50%;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.egresos input{
    font-size: 17px;
    border-radius: 5px 5px;
    border: 0;
}

.egresos select{
    font-size: 17px;
    border-radius: 5px 5px;
    border: 0;
}

.egresos .containerBoton{
   
    position:absolute;
    left:50%;
    transform:translate(-50%,-100%);
    
}

button:focus,button:hover{
    /*border-color:var(--hover);*/
    color:#fff;
}

.formulario2 button:hover{
    /*border-color:var(--hover);*/
    color:#fff;
}

button{
    background:#00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.5em;
    padding:1em 2em;
    font-weight: 100;
    font-size: large;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
}

.textoItems{
    color: rgb(204, 28, 28);
}

.table-wrapper .acciones{
    display: flex;
}
.table-wrapper .acciones input{
    margin-right: 10px;
    margin-left: 5px;
    padding: 0;
    border: none;
    background: none;
    cursor:pointer;
}

.egresos .formulario3 td{
    width:25%;
    font-weight: 600;
    font-size: 20px;
    vertical-align: top;
}
.egresos th{
    color: white;
}
.egresos fas fa-edit{
    color: yellow;
}

.egresos fas fa-trash{
    color: red;
}
