
.containerTab{
  overflow: hidden;
}

.containerTab .tab{
  float: left;
  margin-inline-start: 10%;
}

.containerTab .tab .tabla1{
  width: 100%;

}

.containerTab .tab .tabla2{
  width: 100%;
  
}

.containerTab .tab .tabla3{
  width: 100%;
  
}


@-webkit-keyframes pulse{0%{box-shadow:0 0 var(--hover)}}
@keyframes pulse{0%{box-shadow:0 0 var(--hover)}}

.containerTab .offset{box-shadow:.3em .3em 0 0 var(--color),inset .3em .3em 0 0 var(--color)}
.containerTab .offset:focus,.offset:hover{box-shadow:0 0 var(--hover),inset 6em 3.5em 0 0 var(--hover)}
.containerTab .offset{--color:#19bc8b;--hover:#1973bc}
button{color:var(--color);transition:.25s}
button:focus,button:hover{border-color:var(--hover);color:#fff}
button{background:0 0;border:2px solid;font:inherit;line-height:1;margin:.5em;padding:1em 2em}

.egresos .containerBoton{
   
  position:absolute;
 
  left:50%;
  transform:translate(-50%,-75%)
}
.btn{
  margin-top:calc(50% + 25px);
  position:relative;
  display:inline-block;
  width:277px;height:50px;
  line-height:60px;
  text-align:center;
  text-transform:uppercase;
  background-color:transparent;
  cursor:pointer;
  text-decoration:none;
  font-family:Roboto,sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing:.045em
}
.btn svg{
  position:absolute;top:0;left:0
}
.btn svg rect{
  stroke:#00ecb9;
  stroke-width:4;
  stroke-dasharray:353,0;
  stroke-dashoffset:0;
  -webkit-transition:all 600ms ease;
  transition:all 600ms ease
}
.btn span{
  background:#2ca4c9;
  background:-moz-linear-gradient(left,rgb(130, 226, 255) 0,rgb(120, 237, 182) 100%);
  background:-webkit-linear-gradient(left,rgb(130, 226, 255) 0,rgb(120, 237, 182) 100%);
  background:linear-gradient(to rightrgb(130, 226, 255) 0,rgb(120, 237, 182) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent
}
.btn:hover svg rect{
  stroke-width:4;
  stroke-dasharray:196,543;
  stroke-dashoffset:437
}
