.nuevo{
    float:none;
    overflow-y: auto;
    margin-block-end: 5%;
}

.habilitar{
    float: none;
    overflow-y: auto;
    margin-block-start: 5%;
    margin-block-end: 5%;
}

.editar{
    float: none;
    overflow-y: auto;
    margin-block-start: 5%;
    margin-block-end: 5%;
}

.imagen img {
    width: 90%;
    margin-block-start: 8%;
}

.imagen2 img {
    margin-block-start: 4%;
    width: 40%;
    float: right;
    margin-right: 5%;
}

.imagen3 {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    width: 45%;
    height: auto;
}

.imagen3 img {
    margin-block-start: 4%;
    width: 90%;
}

.notaNuevo{
    padding-top: 10%;
    padding-left: 10px;
    margin-left: 10px;

    float: left;
    width: 45%;
    height: auto;
    text-align: inherit;
}

.notaNuevo h2{
    font-size: 30px;
    color: white;
}

.notaNuevo h3{
    font-size: 20px;
    color: white;
    margin-block-start: 5%;
}

input{
    font-size: 17px;
    border-radius: 5px 5px;
    border: 0;
}

select{
    font-size: 17px;
    border-radius: 5px 5px;
    border: 0;
}

.botonAcciones button{
    width: initial;
    margin-left: 50%;
    transform: translateX(-50%);
    background: #00bcc1;
    border: 0px solid;
    font: inherit;
    line-height: 1;
    /* margin: .5em; */
    padding: 1em 2em;
    font-weight: 100;
    font-size: large;
    cursor: pointer;
    border-radius: 10px 10px;
    color: white;
    margin-block-start: 5%;
}