.operaciones{
    width: 100%;
}

h2{
    color: white;
    font-size: 20px;
    margin-block-end: 1.5%;
    width: 100%;
}

h3{
 color: white;
 font-size: 20px;
    margin-block-end: 1.5%;
}

.table-wrapper tbody th{
    font-size: 18px;
    color:white;
}

.table-wrapper thead th{
    color:white;
}

.table-wrapper tbody td{
    font-size: 18px;
    color:white;
}

.table-wrapper thead td{
    color:white;
}
