.presupuestos .formulario1 td{
    width: 50%;
    font-weight: 400;
    font-size: 20px;
}

.presupuestos .formulario3 td{
    width:25%;
    font-weight: 400;
    font-size: 20px;
    vertical-align: top;
}

.presupuestos input{
    font-size: 17px;
    border-radius: 10px 10px;
    border: 0;
}

.presupuestos select{
    font-size: 17px;
    border-radius: 10px 10px;
}


button:focus,button:hover{border-color:var(--hover);color:#fff}

button{
    transition:.25s;
    background: #00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    padding: 0.5em 0.5em;
    font-size: 20px;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
    font-weight: 200;
    margin: 10px .3em .3em;
}

.table-wrapper .acciones input{
    margin-right: 10px;
    margin-left: 5px;
    padding: 0;
    border: none;
    background: none;
    cursor:pointer;
}

.table-wrapper td{
    width: 30%;
    font-weight: 400;
    font-size: 20px;
    color:white;
}

.presupuestos th{
    color:white;
}

.presupuestos td{
    color:white;
}

input[type=checkbox]{
    margin-top: 15px;
}

h3{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-block-start: -75px;
}

table {
    margin: 0 0 0.6em 0;
    width: 900px;
    border-collapse: collapse;
    background-color: #01468a;
}

.modal-agregar-presupuesto select{
    font-size: 20px;
    border-radius: 5px 5px;
    border: 0;
}

.presupuesto table{
    margin: 0 0 0.6em 0;
    width: 900px;
    border-collapse: collapse;
    background-color: #01468a;
}

.modal-agregar-presupuesto input{
    font-size: 20px;
    border-radius: 5px 5px;
    border: 0;
}

.modal.fade .modal-agregar-presupuesto {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.show .modal-agregar-presupuesto {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-agregar-presupuesto {
    position: relative;
    width: auto;
    max-width: max-content;
    margin: 1.75rem auto;
    pointer-events: none;
}