 .formmulario td{
    width: 50%;
     font-weight: 600;
     font-size: 18px;
}

 .formulario input{
     font-size: 18px;
     border-radius: 10px 10px;
     border: 0;
 }

 .formulario select{
     font-size: 18px;
     border-radius: 10px 10px;
     border: 0;
 }

.altaUsuario button{
    transition:.25s;
    background:#00afff;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.5em;
    padding:1em 2em;
    font-size: larger;
    cursor:pointer;
    border-radius: 10px 10px;
    margin-block-end: 3%;
}

.altaUsuario button:focus,button:hover{
    color:#fff;
}

.table-wrapper tbody td{
    font-size: 18px;
}

.altaUsuario h2{
    font-size: 30px;
    color: white;
    margin-block-end: 2%;
}