.formulario td{
    width: 50%;
    font-weight: 400;
    font-size: 18px;
    color:#fff;
}

.formulario input{
    font-size: 17px;
}

button{
    transition:.25s;
    background: #00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    padding: 0.5em 0.5em;
    font-size: 20px;
    cursor:pointer;
    border-radius: 10px 10px;
    color:white;
    font-weight: 200;
    margin: .3em .3em .3em 20px;
}

button:focus,button:hover{
    color:#fff;
}

h2{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-block-end: 50px;
    margin-block-start: -40px;
}

td{
    color:white;
}

.validadorTransparencia input{
    font-size: 20px;
    border-radius: 5px 5px;
    border: 0;
}

.validadorTransparencia select{
    font-size: 20px;
    border-radius: 5px 5px;
    border: 0;
}

input[type=checkbox]{
    margin-right: 5px;
}