.formmulario td{
    width: 50%;
}

.formulario input{
    font-size: 18px;
    border-radius: 10px 10px;
    border: 0;
}

.formulario select{
    font-size: 18px;
    border-radius: 10px 10px;
    border: 0;
}

.altaUsuario button{
    transition:.25s;
    background:#00bcc1;
    border:0px solid;
    font:inherit;
    line-height:1;
    margin:.5em;
    padding:1em 2em;
    font-size: larger;
    cursor:pointer;
    border-radius: 10px 10px;
    margin-block-end: 3%;
    color:white;
}

.altaUsuario button:focus,button:hover{
    color:#fff;
}

.formulario td{
    font-size: 18px;
    color:white;
}

.formulario tr{
    font-size: 18px;
    color:white;
}

.altaUsuario h2{
    font-size: 30px;
    color: white;
    margin-block-end: 2%;
}

.nuevo{
    float:none;
    overflow-y: auto;
    margin-block-end: 5%;
}

.habilitar{
    float: none;
    overflow-y: auto;
    margin-block-start: 5%;
    margin-block-end: 5%;
}

.editar{
    float: none;
    overflow-y: auto;
    margin-block-start: 5%;
    margin-block-end: 5%;
}

.imagen img {
    width: 80%;
}

.imagen2 img {
    margin-block-start: 3%;
    width: 30%;
    margin-left: 3%;
}

.imagen3 {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    width: 45%;
    height: auto;
}

.imagen3 img {
    margin-block-start: 4%;
    width: 80%;
}

.notaNuevo{
    padding-top: 10%;
    padding-left: 10px;
    margin-left: 10px;

    float: left;
    width: 45%;
    height: auto;
    text-align: inherit;
}

.notaNuevo h2{
    font-size: 30px;
    color: white;
}

.notaNuevo h3{
    font-size: 20px;
    color: white;
    margin-block-start: 5%;
}

.botonAcciones button{
    width: initial;
    margin-left: 50%;
    transform: translateX(-50%);
    background: #00bcc1;
    border: 0px solid;
    font: inherit;
    line-height: 1;
    /* margin: .5em; */
    padding: 1em 2em;
    font-weight: 100;
    font-size: large;
    cursor: pointer;
    border-radius: 10px 10px;
    color: white;
    margin-block-start: 5%;
}