/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    text-align: -webkit-center;
    margin-block-end: 2%;
}

table {
    margin: 0 0 0.6em 0;
    width: 55%;
    border-collapse: collapse;
    background-color: #01468a;
}

    table tbody tr {
        border: solid 1px #fff;
        border-left: 0;
        border-right: 0;
    }

        table tbody tr:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.25);
        }

    table td {
        padding: 1em 1em;
        background-color: #01468a;
        font-weight: 600;
        font-size: 20px;
    }

    table th {
        color:#000;
        /*font-size: 0.9em;padding: 0 1em;
        font-weight: 550;*/
        font-weight: 600;
        font-size: 20px;

    }

    table thead {
        border-bottom: solid 1px  #ffffff;
    }

    table tfoot {
        border-top: solid 2px #fff;
    }

    .table-wrapper td {
        text-align :center;
        color: #000;
        font-weight: 600;
        font-size: 20px;
   }
    table.alt {
        border-collapse: separate;
    }

        table.alt tbody tr td {
            border: solid 1px #fff;
            border-left-width: 0;
            border-top-width: 0;
        }

            table.alt tbody tr td:first-child {
                border-left-width: 1px;
            }

        table.alt tbody tr:first-child td {
            border-top-width: 1px;
        }

        table.alt thead {
            border-bottom: 0;
        }

        table.alt tfoot {
            border-top: 0;
        }
