.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

.modal-dialog {
    max-width: max-content;
    margin: 1.75rem auto;
    position: relative;
    width: auto;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin-top: 10px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 0;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    margin-block-end: -15px;
}

table {
    margin: 0 0 0.6em 0;
    border-collapse: collapse;
    width: 900px;
    table-layout: fixed;
}

table td {
    padding: 1em 1em;
    background-color: rgb(88 156 234);
    font-weight: 600;
    font-size: 25px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-body button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #080808;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #00afff;
    cursor: pointer;
    margin-right: 2%;
}

.modal-body button:hover {
    color: #0374ce;
    background-color: #ffffff;
}

.listadoDeUsuarios .table-wrapper table{
    margin: 0 0 0.6em 0;
    border-collapse: collapse;
    width: 1000px;
    table-layout: inherit;
}