body{
    margin: 0;
    padding: 0;
}

.fade {
    transition: opacity .15s linear;
}
.fade:not(.show) {
    opacity: 0;
}
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-dialog {
    position: relative;
    width: auto;
    max-width: max-content;
    margin: 1.75rem auto;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    margin-top: 10px;
}
.modal-title {
    margin-bottom: 0;
    line-height: 0;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    margin-block-end: -15px
}

.modal-footer {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-body button{
    padding: 7px;
    font-weight: 500;
    font-size: 20px;
    color: #080808;
    background-color: #ffffff;
    border: 1px solid #00afff;
    cursor: pointer;
}

.modal-body button:hover{
    color: #0374ce;
    background-color: #ffffff;
}

.modal-body table {
    width: auto;
    height: 10px;
}

.modal-body table td {
    padding: 1em 1em;
    background-color: rgb(88 156 234);
    font-weight: 400;
    font-size: 25px;
    color: white;
    height: auto;
    width: auto;
}

h1 {
    color: black;
    font-size: 33px;
    margin:auto;
}

h5 {
    color: black;
    font-size: 25px;
    margin:auto;
}


.listadoDeUsuarios .table-wrapper table{
    margin: 0 0 0.6em 0;
    border-collapse: collapse;
    width: 1000px;
    table-layout: inherit;
}

.modal-body table th{
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
}

.modal-items table th{
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
}

.modal-items table {
    width: 1500px;
    height: 10px;
}

.modal-items table td {
    padding: 1em 1em;
    background-color: rgb(88 156 234);
    font-weight: 400;
    font-size: 25px;
    color: white;
    height: auto;
    width: auto;
}

.modal-items {
    position: relative;
    width: 1700px;
    max-width: max-content;
    margin: 1.75rem auto;
    pointer-events: none;
}

.modal-categorias-egreso table th{
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
}

.modal-categorias-egreso table {
    width: 1500px;
    height: 10px;
}

.modal-categorias-egreso table td {
    padding: 1em 1em;
    background-color: rgb(88 156 234);
    font-weight: 400;
    font-size: 25px;
    color: white;
    height: auto;
    width: auto;
}

.modal-categorias-egreso {
    position: relative;
    width: 1700px;
    max-width: max-content;
    margin: 1.75rem auto;
    pointer-events: none;
}

.modal-agregar-presupuesto {
    position: relative;
    width: 1400px;
    max-width: max-content;
    margin: 1.75rem auto;
    pointer-events: none;
}

.modal-agregar-presupuesto table th{
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
}

.modal-agregar-presupuesto table {
    width: 1200px;
    height: 10px;
}

.modal-agregar-presupuesto table td {
    padding: 1em 1em;
    background-color: rgb(88 156 234);
    font-weight: 400;
    font-size: 25px;
    color: white;
    height: auto;
    width: auto;
}


.modal-habilitar-usuarios table th{
    color: white;
    height: 40px;
    font-size: 25px;
    font-weight: 400;
}

.modal-habilitar-usuarios table {
    width: 1500px;
    height: 10px;
}

.modal-habilitar-usuarios table td {
    padding: 1em 1em;
    background-color: rgb(88 156 234);
    font-weight: 400;
    font-size: 25px;
    color: white;
    height: auto;
    width: auto;
}

.modal-habilitar-usuarios {
    position: relative;
    width: 1700px;
    max-width: max-content;
    margin: 1.75rem auto;
    pointer-events: none;
}