body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://miro.medium.com/max/10368/1*6rb2PRwJKCHQaFc28eyzzw.jpeg);

    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */

    background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: cover;

    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */

    background-color: #66999;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
}

.fade {
    transition: opacity .15s linear;
}
.fade:not(.show) {
    opacity: 0;
}
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 120%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-top: 300px;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 0;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
 .modal-body button{
     text-decoration: none;
     padding: 10px;
     font-weight: 600;
     font-size: 20px;
     color: #080808;
     background-color: #ffffff;
     border-radius: 6px;
     border: 1px solid #4caf50;
     cursor: pointer;
 }
.modal-body button:hover{
    color: #4caf50;
    background-color: #ffffff;
}
