@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://miro.medium.com/max/10368/1*6rb2PRwJKCHQaFc28eyzzw.jpeg);


  /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */

  background-position: center center;

  /* Para que la imagen de fondo no se repita */

  background-repeat: no-repeat;

  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

  background-attachment: fixed;

  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

  background-size: cover;

  /* Se muestra un color de fondo mientras se está cargando la imagen

  de fondo o si hay problemas para cargarla */

  background-color: #66999;
}

body:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
}

.titulo{
  width: 600px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align:center;
}
.titulo h1{
  float: top;
  font-size: 130px;
  margin-block-end: auto;
  margin-block-start: auto;
}
.titulo h2{
  font-size: 40px;
}

.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  display: inline;
  float: left;
  font-size: 35px;
  border-bottom: 6px solid #7cb9ff;
  margin-bottom: 50px;
  padding: 13px 0;
  margin-left: 10px;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #7cb9ff;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #7cb9ff;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
