body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1362px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:646px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:646px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1 {
  position:absolute;
  left:522px;
  top:99px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:350px;
  height:395px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-7px;
  width:374px;
  height:419px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:395px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.709803921568627);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:118px;
  width:300px;
  height:36px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u3_img.mouseOver {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u3.mouseOver {
}
#u3_img.focused {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u3.focused {
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.709803921568627);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:196px;
  width:300px;
  height:36px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u4_img.mouseOver {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u4.mouseOver {
}
#u4_img.focused {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u4.focused {
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(112, 220, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:294px;
  width:300px;
  height:36px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(82, 213, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u5.mouseOver {
}
#u5_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(140, 140, 140, 0.705882352941177);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u5.disabled {
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Medium', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F91A35;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:348px;
  width:286px;
  height:25px;
  display:flex;
  font-family:'Poppins Medium', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F91A35;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 15px rgba(0, 0, 0, 0.996078431372549);
  -webkit-text-shadow:1px 1px 15px rgba(0, 0, 0, 0.996078431372549);
  -moz-text-shadow:1px 1px 15px rgba(0, 0, 0, 0.996078431372549);
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#70DCDF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:248px;
  width:114px;
  height:15px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#70DCDF;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:245px;
  width:124px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:92px;
  width:60px;
  height:25px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:170px;
  width:96px;
  height:25px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u10 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-style:normal;
  font-size:29px;
  color:rgba(112, 220, 223, 0.996078431372549);
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-17px;
  width:189px;
  height:129px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-style:normal;
  font-size:29px;
  color:rgba(112, 220, 223, 0.996078431372549);
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#81D3F8;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-72px;
  width:185px;
  height:50px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#81D3F8;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:350px;
  height:456px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-7px;
  width:374px;
  height:480px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:456px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.709803921568627);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:118px;
  width:300px;
  height:36px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u14_img.mouseOver {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u14.mouseOver {
}
#u14_img.focused {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u14.focused {
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.709803921568627);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:196px;
  width:300px;
  height:36px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u15_img.mouseOver {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u15.mouseOver {
}
#u15_img.focused {
  left:-6px;
  top:-6px;
  width:322px;
  height:58px;
}
#u15.focused {
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Medium', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F91A35;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:409px;
  width:286px;
  height:25px;
  display:flex;
  font-family:'Poppins Medium', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#F91A35;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 15px rgba(0, 0, 0, 0.996078431372549);
  -webkit-text-shadow:1px 1px 15px rgba(0, 0, 0, 0.996078431372549);
  -moz-text-shadow:1px 1px 15px rgba(0, 0, 0, 0.996078431372549);
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#70DCDF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:248px;
  width:114px;
  height:15px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#70DCDF;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:23px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:23px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.709803921568627);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:23px;
  padding:2px 2px 2px 5px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:rgba(242, 242, 242, 0.705882352941177);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:23px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:269px;
  width:300px;
  height:23px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(242, 242, 242, 0.705882352941177);
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u18_img.mouseOver {
  left:-6px;
  top:-6px;
  width:322px;
  height:45px;
}
#u18.mouseOver {
}
#u18_img.focused {
  left:-6px;
  top:-6px;
  width:322px;
  height:45px;
}
#u18.focused {
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Medium', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#1BB925;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:299px;
  width:162px;
  height:15px;
  display:flex;
  font-family:'Poppins Medium', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#1BB925;
}
#u19 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 15px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 15px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 15px rgba(0, 0, 0, 0.647058823529412);
  text-transform:none;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(112, 220, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#3D3D3D;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:299px;
  width:74px;
  height:25px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#3D3D3D;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(82, 213, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#3D3D3D;
}
#u20.mouseOver {
}
#u20_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(140, 140, 140, 0.705882352941177);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#3D3D3D;
}
#u20.disabled {
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:92px;
  width:60px;
  height:25px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:170px;
  width:96px;
  height:25px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u22 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-style:normal;
  font-size:29px;
  color:rgba(112, 220, 223, 0.996078431372549);
  text-align:center;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:7px;
  width:189px;
  height:86px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-style:normal;
  font-size:29px;
  color:rgba(112, 220, 223, 0.996078431372549);
  text-align:center;
}
#u23 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(112, 220, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:352px;
  width:300px;
  height:36px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(82, 213, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 11px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u24.mouseOver {
}
#u24_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(140, 140, 140, 0.705882352941177);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#3D3D3D;
}
#u24.disabled {
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:191px;
  width:60px;
  height:25px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#70DCDF;
}
#u25 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:rgba(112, 220, 223, 0.996078431372549);
}
#u26 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:121px;
  width:1px;
  height:43px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:rgba(112, 220, 223, 0.996078431372549);
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
