{{#partial "contenido"}}
    <div class="titulo">
        <h1>Administración de entidades jurídicas</h1>
    </div>

    <div class="sist">
        <div class="imagen">
            <img src="/img/habilitarEntidadJuridica.jpg" type="image/jpg">
        </div>
        <div class="articulo">
            <article>
                <br>
                <br>
                <h6>OPERACIONES SOBRE ENTIDADES</h6>
                <br>
                <br>
                <h7>Creación de una nueva entidad jurídica:
                <br>
            <div class="botonAcciones">
                <button type="submit" onclick="mostrarModalNuevaEntidadJurdica()" title="Haga click para crear una nueva entidad jurídica" >Nueva entidad</button>
            </div>
                </h7>
            </article>
            <br>
            <br>
            <h7>Habilitar entidades jurídicas deshabilitadas:
                <br>
                <div class="botonAcciones">
                    <button type="submit" onclick="mostrarModalHabilitarEntidadesJuridicas()" title="Haga click para habilitar entidades jurídicas">Habilitar entidad</button>
                </div>
            </h7>
            <br>
            <br>
            <h7>Editar o dar de baja a entidades jurídicas:
                <br>
                <div class="botonAcciones">
                    <button type="submit" data-dismiss="modal" onclick="mostrarModalEditarEntidadesJuridicas()" title="Haga click para editar entidades jurídicas">Editar entidad</button>
                </div>
            </h7>
        </div>
    </div>
    <link rel="stylesheet" href="/css/estiloAccionesEntidadJuridica.css"/>
    <script src="/js/accionesEntidadJuridica.js"></script>
{{/partial}}
{{>principalAdministrador2.hbs}}