{{#partial "contenido"}}
    <div class="titulo">
        <h1>ADMINISTRACION DE USUARIOS</h1>
    </div>

    <div class="sist">
        <div class="imagen">
            <img src="/img/administrador.jpeg" type="image/jpeg" style="margin-block-start: 3%;">
        </div>
        <div class="articulo">
            <article>
                <br>
                <br>
                <h6>OPERACIONES SOBRE USUARIOS</h6>
                <br>
                <br>
                <h7>Creación de un nuevo usuario:
                    <br>
                    <div class="botonAcciones">
                    <button type="submit" onclick="mostrarModalNuevoUsuario()" title="Haga click para crear un nuevo usuario" >Crear usuario</button>
                </div>
                </h7>
            </article>
            <br>
            <br>
            <h7>Habilitar usuarios deshabilidatos:
                <br>
                <div class="botonAcciones">
                    <button type="submit" onclick="mostrarModalHabilitarUsuarios()" title="Haga click para habilitar un usuario">Habilitar usuario</button>
                </div>
            </h7>
            <br>
            <br>
            <h7>Editar o dar de baja a usuarios:
                <br>
                <div class="botonAcciones">
                    <button type="submit" data-dismiss="modal" onclick="mostrarModalEditarUsuarios()" title="Haga click para editar usuarios">Editar usuario</button>
                </div>
            </h7>
    </div>
        </div>
    <link rel="stylesheet" href="/css/estiloAccionesUsuario.css"/>
    <script src="/js/accionesUsuarios.js"></script>
{{/partial}}
{{>principalAdministrador2.hbs}}