{{#partial "contenido"}}
    <div class="titulo">
        <h1>Administración de proveedores</h1>
    </div>

    <div class="sist">
        <div class="imagen">
            <img src="/img/editarEntidadJuridica.jpg" type="image/jpg">
        </div>
        <div class="articulo">
            <article>
                <center>
                <br>
                <br>
                <h6>OPERACIONES SOBRE PROVEEDORES</h6>
                <br>
                <br>

                    <div class="botonAcciones">
                        <h7>Creación de un nuevo proveedor:</h7>
                        <br>
                        <button type="submit" onclick="mostrarModalNuevoProveedor()" title="Haga click para crear un nuevo proveedor" >Nuevo proveedor</button>
                    </div>
                <br>
                <br>

                <div class="botonAcciones">
                    <h7>Habilitar proveedores deshabilitados:</h7>
                        <br>
                        <button type="submit" onclick="mostrarModalHabilitarProveedores()" title="Haga click para habilitar proveedores">Habilitar proveedor</button>
                </div>
                <br>
                <br>
                <div class="botonAcciones">
                    <h7>Editar o dar de baja a proveedores:</h7>
                        <br>
                        <button type="submit" data-dismiss="modal" onclick="mostrarModalEditarProveedores()" title="Haga click para editar proveedores">Editar proveedor</button>
                </div>
                </center>
            </article>
        </div>
    </div>

    <link rel="stylesheet" href="/css/estiloAccionesProveedor.css"/>
    <script src="/js/accionesProveedores.js"></script>
{{/partial}}
{{>principalAdministrador.hbs}}