{{#partial "contenido"}}
<div>
    <br>
    <br>
    <center>
    <table>
        <tr>
            <td>Operaciones de egreso:</td>
            <td>
                <select name = "egreso" required >
                        <option> Seleccionar operacion de egreso</option>
                    </select>
            </td>
            <td>Operaciones de ingreso:</td>
            <td>
                <select name = "ingreso" required >
                        <option> Seleccionar operacion de ingreso</option>
                    </select>
            </td>
        </tr>
        
        <tr>
            <center>
            <td colspan="4"><input type="submit" value="Asociar operaciones" class="button" ></td>
            </center>
        </tr>
       
    </table>
    </center>
</div>
{{/partial}}
{{>principal.hbs}}