{{#partial "contenido"}}
<div class="asociarOperaciones">
    <br>
    <br>
    <form action="javascript:void(0)" method="post" >
    <center>

        <h3>VINCULACION DE OPERACIONES</h3>
        <div class="tabAO">
            <table id="tabla1" class="tabla1" border="0">
                <tr style="background-color:rgba(216, 14, 14, 0.418)">
                    <td>Seleccionar Criterios Vinculación:</td>

                    <td>
                        <input type="checkbox" name="0" value="ordenValorPrimeroEgreso"> Orden Valor Primero Egreso<br>
                        <input type="checkbox" name="1" value="ordenValorPrimeroIngreso"> Orden Valor Primero Ingreso<br>
                        <input type="checkbox" name="2" value="fecha"> Fecha<br>
                    </td>
                </tr>
            </table>
        </div>

    </center>
    <center>
        <button type="submit" onclick="mostrarModalEjecucionVinculacion()"> Ejecutar Vinculación</button>
    </center>
    </form>
</div>
<script src="/js/operacionesComunes.js"></script>
<link rel="stylesheet" href="/css/estiloAsociaroperaciones.css" />
{{/partial}}
{{>principalStandar.hbs}}