{{#partial "contenido"}}
<div class="containerTab">
	<br>
    <br>
	<center>
	<div class="tab">
		<table id="tabla1" class="tabla1" border="0">
			<tr style="background-color: rgba(24, 15, 155, 0.418)">
				<td>Nombre de Criterio:</td>
				<td><input type="text" placeholder="un criterio" style="margin-block-start: 10%"><br></br></td>
			</tr>
			<tr>
				<td colspan="2"> <div class="buttons"> 
                            <button class="offset">Agregar criterio</button> 
                        </div><br></br></td>
			</tr>
			<tr>

			</tr>
			</table>
		</div>

	<div class="tab">
		<table id="tabla2" class="tabla2">
			<tr style="background-color: rgba(253, 253, 253, 0.418)">
				<td>
					<div class="containerBoton"> 
						<a href="#" class="btn"> 
							<svg width="277" height="62"> 
								<defs>
									<linearGradient id="grad1"> 
										<stop offset="0%" stop-color="#FF8282"/> 
										<stop offset="100%" stop-color="#E178ED" /> 
									</linearGradient> 
								</defs> 
										<rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect> 
							</svg> <span>Guardar</span>
						</a> 
            		</div>
				</td>
			</tr>
		</table>
	</div>	

	<div class="tab">
		<table id="tabla3" class="tabla3" border="0">
			<tr style="background-color: rgba(24, 15, 155, 0.418)">
				<td>Categoria:</td>
				<td><input type="text" placeholder="una categoria" style="margin-block-start: 10%"><br></br></td>
			</tr>
			<tr>
				<td colspan="2"> <div class="buttons"> 
                            <button class="offset">Agregar categoría</button> 
                        </div><br></br></td>
			</tr>
			<tr>

			</tr>
			</table>
	</div>
	</center>
</div>
{{/partial}}
{{>principal.hbs}}