{{#partial "contenido"}}

         <div>
             <center>
             <h2>EDITAR PERFIL</h2>
             </center>

                <div class = "editarUsuario">
                    <form action= "javascript:void(0)" >
                        <center>
                            <table class= "formulario" border = 0 >
                                <tr>
                                    <td>Nombre:</td>
                                    <td><input type="text" name="nombre" id = "altaUsuarioPerfil-nombre" value="{{miNombre}}"></td>
                                </tr>
                                <tr>
                                    <td>Apellido:</td>
                                    <td><input type="text" name="apellido" id = "altaUsuarioPerfil-apellido" value="{{miApellido}}"></td>
                                </tr>
                                <tr>
                                    <td>Entidad Jurídica asociada:</td>
                                    <td><button type="submit" data-dismiss="modal" onclick="mostrarDetalleEntidadJuridica()">Detalle</button></td>
                                </tr>

                            </table>
                                <button type="submit" data-dismiss="modal" onclick="mostrarModalConfirmacionActualizacionDeDatos()">
                                    Actualizar datos
                                </button>
                            </div>
                        </center>
                    </form>
             <br>
             <br>
             <form action= "javascript:void(0)"  >

                 <center>
                     <table class= "formulario2" border = 0 >
                 <tr>
                     <td>Cambiar contraseña:</td>
                     <td><input name="cambioContrasenia" type="radio" value="cambioContrasenia" id = "altaUsuarioPerfil-cambioContrasenia" />Si
                         <input name="cambioContrasenia" type="radio" value="noCambioContrasenia" id = "altaUsuarioPerfil-noCambioContrasenia" checked="checked"/>No
                     </td>
                 </tr>
                 <tr>
                       <td>Contraseña:</td>
                       <td><input type="password" name="contrasenia"   id = "altaUsuarioPerfil-contrasenia" value="{{miContrasenia}}" disabled></td>
                 </tr>


                     </table>
                     <button type="submit" data-dismiss="modal" onclick="mostrarModalConfirmacionCambioDeContrasenia()" id="botonCambiarContrasenia">
                         Cambiar contraseña
                     </button>
                 </center>

             </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/usuario.js"></script>
         <script src="/js/accionesUsuarios.js"></script>

         <link rel="stylesheet" href="/css/estiloEditarPerfilUsuarioEstandar.css" />

{{/partial}}
{{>principalStandar.hbs}}