{{#partial "contenido"}}
    <div class="egresos">
        <br>
        <br>

        <form action="/operacionEgreso" method="post" >
            <center>

                <table class="formulario" border="0">
                    <tr>
                        <td>Fecha:</td>
                        <td><input type="date" name="fecha" placeholder="Ingrese la fecha" required></td>
                    </tr>
                    <tr>
                        <td>Monto Total:</td>
                        <td><input type="number" name="montoTotal" placeholder="Ej: $200" required></td>
                    </tr>
                    <tr>
                        <td>Tipo de Medio De Pago:</td>
                        <td>
                            <select name = "medioDePago" required >
                                <option hidden selected>-Seleccionar medio de pago-</option>
                                {{#each tiposMediosDePago}}
                                    <option>{{tipoPago}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Número Medio De Pago:</td>
                        <td><input type="number" name="numeroMedioDePago" placeholder="Ej: 9999999999999" required></td>
                    </tr>
                    <tr>
                        <td>Tipo de Documento Comercial:</td>
                        <td>
                            <select name = "documentoComercial" >
                                <option hidden selected>-Seleccionar documento comercial-</option>
                                {{#each tiposDocumentoComercial}}
                                    <option>{{nombre}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Número Documento Comercial:</td>
                        <td><input type="number" name="numeroDocumentoComercial" placeholder="Ej: 9999999999999" required></td>
                    </tr>
                    <tr>
                        <td>Proveedor:</td>
                        <td>
                            <select name = "proveedor">
                                <option hidden selected> -Seleccionar proveedor-</option>
                            </select>
                        </td>
                    </tr>
                </table>

            </center>
            <center>
                <table class="formulario2" border="0">
                    <tr style="background-color: white">
                        <td>Item:</td>
                        <td><input type="text" placeholder="Ej: papel" id="item"></td>
                        <td rowspan="2">
                            <button type="button" onclick="nuevaFilaEnTabla()">Agregar</button>
                        </td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td>Precio:</td>
                        <td><input type="number" placeholder="Ej: $200" id="precio"></td>
                        <td></td>
                    </tr>
                </table>
            </center>

            <center>
                <div class="table-wrapper">
                    <table id="tabla_items">
                        <thead>
                        <tr>
                            <th>ITEMS</th>
                            <th>PRECIO</th>
                            <td>ACCIONES</td>
                        </tr>
                        </thead>
                        <tbody id = "content_table">
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </center>
            <center>
                <table class="formulario3" border="0">
                    <tr>
                        <td>Presupuestos requeridos:</td>
                        <td><input name="presupuestosRequeridos" type="number" placeholder="Ej: 1" required><br/></td>
                    </tr>
                </table>
                    <button type="submit">Cargar</button>
            </center>
        </form>
    </div>
<script src="/js/formatoDeTabla.js"></script>
<link rel="stylesheet" href="/css/estiloEgresos.css" />

{{/partial}}
{{>principal.hbs}}