<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>
<body>
    <style>
        body{
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                /*background: url(https://www.collateralbase.com/wp-content/uploads/2020/07/404-error-template-3.png) no-repeat;*/
                background-size: cover;
            }        
    </style>
    <img src="/img/404-error.png" type="image/png">
</body>
</html>