{{#partial "contenido"}}
<div class = "ingresos">
	<br>
	<br>
    <form action="javascript:void(0)" method="post">
	     <center>

             <h3>AGREGAR OPERACION DE INGRESO<h3>

	        <table class= "formulario" border = 0 >
              <tr>
                 <td><label>Fecha:</label></td></td>

	             <td><input type="date" name="fecha" id="alta-fecha" required></td>

	         </tr>
                <tr>
                    <td><label>Período de aceptacion:</label></td></td>

                    <td><input type="date" name="periodoDeAceptacion" id="alta-periodoDeAceptacion" min= "0"  required></td>

                </tr>

	          <tr>
	             <td><label>Monto: </label></td>
	             <td><input type="number" name="monto" id="alta-monto" step="0.01" min="0" placeholder="Ej. 200.00" required></td>
              </tr>

			  <tr>
	             <td><label>Moneda: </label></td>
	             <td>
                     <select name="moneda" id="alta-moneda" required>
                         <option hidden selected>-Seleccionar moneda-</option>
                         {{#each monedas}}
                         <option>{{id}} - {{description}}</option>
                         {{/each}}
                      </select>
				 </td>
              </tr>

	          <tr>
	            <td><label>Descripción: </label></td>
	            <td><input type="text" name="descripcion" id="alta-descripcion" placeholder="Ingrese la descripción" required></td>
	          </tr>

	        </table>
            <button type= "submit" onclick="mostrarModalGuardadoIngreso()">Guardar</button>
        </center>
    </form>
</div>
<link rel="stylesheet" href="/css/estiloIngresos.css" />
{{/partial}}
{{>principalStandar.hbs}}