{{#partial "contenido"}}
<div>
    <label>Fecha</label> <br></br>
	<input type="date" placeholder="Ingrese la fecha" required><br></br>
	<label>Monto </label><br></br>
	<input type="number" placeholder="Ingrese el monto" required><br></br>

	<label>Descripcion </label><br></br>
	<input type="text" placeholder="Ingrese la descripcion" required><br></br>
	<input type="submit" value="Cargar Ingreso" class="button" >

</div>
{{/partial}}
{{>principal.hbs}}