{{#partial "contenido"}}
<div class = "ingresos">
	<br>
	<br>
    <form action="#" method="post">
	     <center>
	        <table class= "formulario" border = 0 >
              <tr>
                 <td><label>Fecha:</label></td></td>

	             <td><input type="date" name="fecha" placeholder="Ingrese la fecha" required></td>

	         </tr>

	          <tr>
	             <td><label>Monto: </label></td>
	             <td><input type="number" name="monto" placeholder="Ej. 200" required></td>
              </tr>

			  <tr>
	             <td><label>Moneda: </label></td>
	             <td> <select name="moneda" required >
                         <option hidden selected>-Seleccionar moneda-</option>
                         {{#each monedas}}
                         <option>{{id}} - {{description}}</option>
                         {{/each}}
                      </select>
				 </td>
              </tr>

	          <tr>
	            <td><label>Descripción: </label></td>
	            <td><input type="text" name="descripcion" placeholder="Ingrese la descripción" required></td>
	          </tr>

	        </table>
            <button type= "submit" onclick="mostrarModalGuardadoIngreso({{id}})">Guardar</button>
        </center>
    </form>
</div>
<div id="modal" class="modal fade" role="dialog"></div>
<link rel="stylesheet" href="/css/estiloIngresos.css" />
{{/partial}}
{{>principal.hbs}}