{{#partial "contenido"}}
<div class = "ingresos">
	<br>
	<br>
       <form action="/operacionIngreso" method="post">
	     <center>
	        <table class= "formulario" border = 0 >
              <tr>
                 <td><label>Fecha:</label></td></td>

	             <td><input type="date" name="fecha" placeholder="Ingrese la fecha" required></td>

	         </tr>

	          <tr>
	             <td><label>Monto: </label></td>
	             <td><input type="number" name="monto" placeholder="Ingrese el monto" required></td>
              </tr>

			  <tr>
	             <td><label>Moneda: </label></td>
	             <td> <select name="moneda" required >
                         <option>Seleccionar moneda</option>
                         {{#each monedas}}
                         <option>{{id}} - {{description}}</option>
                         {{/each}}
                      </select>
				 </td>
              </tr>

	          <tr>
	            <td><label>Descripcion: </label></td>
	            <td><input type="text" name="descripcion" placeholder="Ingrese la descripcion" required></td>
	          </tr>

	        </table>
        <button type= "submit">Cargar</button>
        </center>
       </form>
	  </div>
	
</center>
</form>
</div>
<link rel="stylesheet" href="/css/estiloIngresos.css" />
{{/partial}}
{{>principal.hbs}}