{{#partial "contenido"}}
    <div class="titulo">
        <h1>Gestión de Proyectos Sociales</h1>
    </div>

    <div class="sist">
        <div class="imagen">
            <img src="/img/administrador2.jpg" type="image/jpg">
        </div>
        <div class="articulo">
            <article>
                <h2>Sistemas de Información para la Contabilidad de Gestión</h2>
                <h3>
                    Sistema de Información orientado en primer lugar a aspectos fundamentales de la contabilidad de gestión
                </h3>
            </article>
        </div>
    </div>
    <div class="func">
        <div class="list">
            <h2>Funcionalidades previstas</h2>
            <h3>Alta de usuarios</h3>
            <h3>Alta de proveedores</h3>
            <h3>Baja de usuarios</h3>
            <h3>Baja de proveedores</h3>
            <h3>Asociar criterios</h3>
        </div>
        <div class="imagen2">
            <img src="/img/administrador.jpeg" type="image/jpeg" style="margin-block-start: 3%;">
        </div>
    </div>
    <link rel="stylesheet" href="/css/inicio.css" />
{{/partial}}
{{>principalAdministrador.hbs}}