{{#partial "contenido"}}
    <div class="titulo">
        <h1>Gestión de Proyectos Sociales</h1>
    </div>

    <div class="sist">
        <div class="imagen">
            <img src="/img/administrador2.jpg" type="image/jpg">
        </div>
        <div class="articulo">
            <article>
                <br>
                <br>
                <h2>Sistemas de Información para la Contabilidad de Gestión</h2>
                <br>
                <br>
                <h4>Funcionalidades del sistema</h4>
                <br>
                <br>
                <br>
                <h3>• Alta de usuarios</h3>
                <h3>• Alta de proveedores</h3>
                <h3>• Alta de entidades jurídicas</h3>
                <h3>• Edición y baja de usuarios</h3>
                <h3>• Edición y baja de proveedores</h3>
                <h3>• Edición y baja de entidades jurídicas</h3>
                <h3>• Asociar criterios</h3>
            </article>
        </div>
    </div>
    <link rel="stylesheet" href="/css/inicio.css" />
{{/partial}}
{{>principalAdministrador2.hbs}}