{{#partial "contenido"}}
    <div>

        <center>
       <img src = " http://2.bp.blogspot.com/-l3_njt-zZ80/VcjF7SPaGtI/AAAAAAAABFw/jtnoFx85kTo/s1600/Hombre%2BTrabajando%2Ben%2Bsu%2BComputadora.png"

            <article>

               <h3>Sistemas de Información para la Contabilidad de Gestión</h3><br>

                <p STYLE="color: white;"><strong>Existe diverso software que resuelve algunas problemáticas que se plantearán en el presente trabajo,
                sin embargo, en ocasiones, su implementación es costosa (en términos monetarios o por los recursos
                    especializados que requiere), por lo cual no es realizada. Muchos otros productos son enlatados,
                    con la dificultad de personalizarlos para las complejas realidades de estas organizaciones.
                Muchas organizaciones sociales se encuentran en la actualidad implementando una herramienta de primer
                    nivel del mercado, propiedad de una de las compañías más importantes en tecnología informática.
                    Sin embargo, a pesar de los programas de acceso con licencias gratuitas, no todas las organizaciones
                    tienen la posibilidad de pagar las consultorías o customizaciones y, por otro lado, a veces estos
                    productos superan, dada su envergadura, las necesidades más básicas de las organizaciones.
                Finalmente, algunos de los productos existentes son implementados para su uso en áreas financieras,
                    con un foco en obtener la información requerida para presentaciones de índole legal (balances,
                    estados económicos, etc.), sin un enfoque en la gestión de los proyectos de la organización.
                    Nuestro sistema estará orientado a la contabilidad de gestión y no a la contabilidad financiera,
                    como objetivo principal.</strong></p><br>

          </article>
        </center>

   </div>
    <link rel="stylesheet" href="/css/inicio.css" />


{{/partial}}
{{>principalAdministrador.hbs}}