{{#partial "contenido"}}
    <div class="titulo">
        <h1>Gestión de Proyectos Sociales</h1>
    </div>

    <div class="sist">
        <div class="imagen">
            <img src="/img/innovacion.jpg" type="image/jpg">
        </div>
        <div class="articulo">
            <article>
                <h2>Sistemas de Información para la Contabilidad de Gestión</h2>
                <h3>
                    Sistema de Información orientado en primer lugar a aspectos fundamentales de la contabilidad de gestión
                </h3>
            </article>
        </div>

   </div>
    <div class="func">
        <div class="list">
            <h2>Funcionalidades previstas</h2>
            <h3>Operaciones de ingresos</h3>
            <h3>Operaciones de egreso</h3>
            <h3>Presupuestos</h3>
            <h3>Listado de operaciones</h3>
            <h3>Asociar operaciones</h3>
        </div>
        <div class="imagen2">
            <img src="/img/func.jpg" type="image/jpg">
        </div>
    </div>
   <link rel="stylesheet" href="/css/inicio.css" />
{{/partial}}
{{>principalStandar.hbs}}