<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Login</title>
    <link  rel="icon"   href="/img/entrar.png" type="image/png" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="titulo">
        <h1>GESOC</h1>
        <h2>Gestión de Proyectos Sociales</h2>
    </div>

    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" required>
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" required>
        </div>

        <input type="button" class="btn" value="Sign in">
    </div>
  </body>
</html>
