<!DOCTYPE html>
<html>
  <head>
    <title>Logueo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="../public/interfazUsuario/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../public/interfazUsuario/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../public/interfazUsuario/files/logueo/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../public/interfazUsuario/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/axQuery.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/globals.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axutils.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/annotation.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/axQuery.std.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/doc.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/messagecenter.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/events.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/recording.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/action.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/expr.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/geometry.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/flyout.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/model.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/repeater.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/sto.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/utils.temp.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/variables.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/drag.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/move.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/visibility.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/style.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/adaptive.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/tree.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/init.temp.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/legacy.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/viewer.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/math.js"></script>
    <script src="../public/interfazUsuario/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="../public/interfazUsuario/data/document.js"></script>
    <script src="../public/interfazUsuario/files/logueo/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Image) -->
      <div id="u0" class="ax_default image">
        <img id="u0_img" class="img " src="../public/interfazUsuario/images/logueo/u0.png"/>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- DinamicLogin (Dynamic Panel) -->
      <div id="u1" class="ax_default" data-label="DinamicLogin">
        <div id="u1_state0" class="panel_state" data-label="Default" style="">
          <div id="u1_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u2" class="ax_default box_1">
              <img id="u2_img" class="img " src="../public/interfazUsuario/images/logueo/u2.svg"/>
              <div id="u2_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- UserField (Text Field) -->
            <div id="u3" class="ax_default text_field" data-label="UserField">
              <img id="u3_img" class="img " src="../public/interfazUsuario/images/logueo/userfield_u3.svg"/>
              <input id="u3_input" type="text" value="" class="u3_input"/>
            </div>

            <!-- PassField (Text Field) -->
            <div id="u4" class="ax_default text_field" data-label="PassField">
              <img id="u4_img" class="img " src="../public/interfazUsuario/images/logueo/userfield_u3.svg"/>
              <input id="u4_input" type="password" value="" class="u4_input"/>
            </div>

            <!-- Login (Rectangle) -->
            <div id="u5" class="ax_default primary_button" data-label="Login">
              <div id="u5_div" class=""></div>
              <div id="u5_text" class="text ">
                <p><span>Ingresar</span></p>
              </div>
            </div>

            <!-- ErrorMessage (Rectangle) -->
            <div id="u6" class="ax_default label ax_default_hidden" data-label="ErrorMessage" style="display:none; visibility: hidden">
              <div id="u6_div" class=""></div>
              <div id="u6_text" class="text ">
                <p><span>Usuario y/o Contraseña incorrectos</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7" class="ax_default label">
              <div id="u7_div" class=""></div>
              <div id="u7_text" class="text ">
                <p><span>OLVIDE MI CONTRASEÑA</span></p>
              </div>
            </div>

            <!-- Unnamed (Hot Spot) -->
            <div id="u8" class="ax_default">
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9" class="ax_default label">
              <div id="u9_div" class=""></div>
              <div id="u9_text" class="text ">
                <p><span>Usuario</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u10" class="ax_default label">
              <div id="u10_div" class=""></div>
              <div id="u10_text" class="text ">
                <p><span>Contraseña</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u11" class="ax_default label">
              <div id="u11_div" class=""></div>
              <div id="u11_text" class="text ">
                <p><span style="font-family:'Poppins', sans-serif;font-weight:400;"><br></span></p><p><span style="font-family:'Poppins', sans-serif;font-weight:400;">Iniciar Sesión</span></p><p><span style="font-family:'Poppins', sans-serif;font-weight:400;"><br></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u12" class="ax_default label">
              <div id="u12_div" class=""></div>
              <div id="u12_text" class="text ">
                <p><span>GeSoc</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1_state1" class="panel_state" data-label="Show" style="visibility: hidden;">
          <div id="u1_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u13" class="ax_default box_1">
              <img id="u13_img" class="img " src="../public/interfazUsuario/images/logueo/u13.svg"/>
              <div id="u13_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- UserField (Text Field) -->
            <div id="u14" class="ax_default text_field" data-label="UserField">
              <img id="u14_img" class="img " src="../public/interfazUsuario/images/logueo/userfield_u3.svg"/>
              <input id="u14_input" type="text" value="" class="u14_input"/>
            </div>

            <!-- PassField (Text Field) -->
            <div id="u15" class="ax_default text_field" data-label="PassField">
              <img id="u15_img" class="img " src="../public/interfazUsuario/images/logueo/userfield_u3.svg"/>
              <input id="u15_input" type="password" value="" class="u15_input"/>
            </div>

            <!-- ErrorMessage1 (Rectangle) -->
            <div id="u16" class="ax_default label ax_default_hidden" data-label="ErrorMessage1" style="display:none; visibility: hidden">
              <div id="u16_div" class=""></div>
              <div id="u16_text" class="text ">
                <p><span>Usuario y/o Contraseña incorrectos</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u17" class="ax_default label">
              <div id="u17_div" class=""></div>
              <div id="u17_text" class="text ">
                <p><span>OLVIDE MI CONTRASEÑA</span></p>
              </div>
            </div>

            <!-- MailField (Text Field) -->
            <div id="u18" class="ax_default text_field" data-label="MailField">
              <img id="u18_img" class="img " src="../public/interfazUsuario/images/logueo/mailfield_u18.svg"/>
              <input id="u18_input" type="text" value="" class="u18_input"/>
            </div>

            <!-- SendMessage (Rectangle) -->
            <div id="u19" class="ax_default label ax_default_hidden" data-label="SendMessage" style="display:none; visibility: hidden">
              <div id="u19_div" class=""></div>
              <div id="u19_text" class="text ">
                <p><span>E-mail de recuperación enviado</span></p>
              </div>
            </div>

            <!-- SendButton (Rectangle) -->
            <div id="u20" class="ax_default primary_button" data-label="SendButton">
              <div id="u20_div" class=""></div>
              <div id="u20_text" class="text ">
                <p><span>Enviar</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u21" class="ax_default label">
              <div id="u21_div" class=""></div>
              <div id="u21_text" class="text ">
                <p><span>Usuario</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u22" class="ax_default label">
              <div id="u22_div" class=""></div>
              <div id="u22_text" class="text ">
                <p><span>Contraseña</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u23" class="ax_default label">
              <div id="u23_div" class=""></div>
              <div id="u23_text" class="text ">
                <p><span style="font-family:'Poppins', sans-serif;font-weight:400;">Iniciar Sesión</span></p><p><span style="font-family:'Poppins', sans-serif;font-weight:400;">GeSoc</span></p>
              </div>
            </div>

            <!-- Login (Rectangle) -->
            <div id="u24" class="ax_default primary_button" data-label="Login">
              <div id="u24_div" class=""></div>
              <div id="u24_text" class="text ">
                <p><span>Ingresar</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u25" class="ax_default label">
        <div id="u25_div" class=""></div>
        <div id="u25_text" class="text ">
          <p><span>Usuario</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u26" class="ax_default label">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="../public/interfazUsuario/resources/scripts/axure/ios.js"></script>
  </body>
</html>
