{{#partial "contenido"}}

    <center>
    <h3>BANDEJA DE MENSAJES</h3>

    <div class="table-wrapper">
        <table class="tabla-de-mensajes" id="tabla_mensajes">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Mensaje</th>
                    <td>Leído</td>
                </tr>
            </thead>
            <tbody id = "content_table">
            {{#each bandejaDeMensajes}}
                <tr>
                    <td>{{fechaCreado}}</td>
                    <td><button type="submit" style="color: deepskyblue" onclick="mostrarModalContenidoMensaje({{id}})">Leer Mensaje</button></td>
                    <td>
                        {{#if leido}}
                            <i class="fas fa-eye-slash"></i><p>Leido</p>
                        {{else}}
                            <i class="fas fa-eye"></i><p>No Leido</p>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    </center>
    <link rel="stylesheet" href="/css/estiloMensaje.css" />
    <script type="text/javascript" src="/js/mensaje.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{{/partial}}
{{>principalStandar.hbs}}