{{#partial "contenido"}}
    <div>
        <br>
        <br>

     <form>

             <center>
                  <table id="mensajes">
                    <thead>
                       <tr>

                           <th>CONTENIDO</th>
                           <th>FECHA RECIBIDO</th>
                           <th>¿LEIDO?</th>
                        </tr>
                 </thead>
                 <tbody >
                 <tr>
                     <td></td>
                     <td></td>
                     <td>
                         <input type="checkbox" name= "Si"> Si<br>
                         <input type="checkbox" name="No">No

                     </td>
                 </tr>
                 </tbody>
             </table>


         </table>




         </center>
     </form>



    </div>
        <link rel="stylesheet" href="/css/estiloMensaje.css" />


{{/partial}}
{{>principal.hbs}}