{{#partial "contenido"}}
    <div>
        <br>
        <br>

     <form>

             <center>
                  <table id="mensajes">
                    <thead>
                       <tr>
                           <th>FECHA CREACION</th>
                           <th>CONTENIDO</th>
                           <th>FECHA LECTURA</th>
                       </tr>
                 </thead>
                 <tbody >
                 <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                 </tr>
                 </tbody>
             </table>


         </table>




         </center>
     </form>


    </div>
        <link rel="stylesheet" href="/css/estiloMensaje.css" />
      <script><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"></script>


{{/partial}}
{{>principal.hbs}}