 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                Listado de Items</h1>
        </div>
        <div class="modal-body">
            <div class="table-wrapper">
                <table id="tabla_operaciones_egreso">
        <thead>
        <tr>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Precio Total</th>
        </tr>
        </thead>
        <tbody id="content_table">
        {{#each items}}
            <tr>
                <td>{{descripcion}}</td>
                <td>{{precioUnitario}}</td>
                <td>{{cantidad}}</td>
                <td>{{precioTotal}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>
    <div class="modal-footer">
        <button type="button"  onclick="" class="btn" data-dismiss="modal" > Aceptar </button>
    </div>
</div>
</div>
    </div>
<link rel="stylesheet" href="/css/modalVarios.css" />