<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">
                <i class="fas fa-exclamation-circle"></i>
                ¡Advertencia!
            </h1>
        </div>
        <div class="modal-body">
            <h5 style="margin-block-end: 20px;">{{mensaje}}</h5>
            <div class="modal-footer">
                <a href="/">
                    <button type="button" class="btn btn-primary" style="margin-right: 20px;">
                        Aceptar
                    </button>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/modalVarios.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
