<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">¡Información!</h1>
        </div>
        <div class="modal-body">
            <h2>{{mensaje}}</h2>
            <div class="modal-footer">
                <a href="/">
                    <button type="button" class="btn" data-dismiss="modal" >
                        Cerrar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/modal.css" type="text/css">