<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 id="tituloModal" class="modal-title">Advertencia</h1>
        </div>
        <div class="modal-body">
            <h2 style="margin-block-end: 20px;">{{mensaje}}</h2>
            <div class="modal-footer">
                <a href="/">
                    <button type="button" class="btn btn-primary" style="margin-right: 20px;">
                        Aceptar
                    </button>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
