{{#partial "contenido"}}

<div class = "presupuestos">
    <br>
    <br>

    <form action="javascript:void(0)" method="post">
     <center>
         <h3>AGREGAR PRESUPUESTO</h3>
        <table class= "formulario1">
            <tr>
                <td>Operación de Egreso asociada:</td>
                <td>
                    <select name="operacionEgreso" id="alta-operacionEgreso" required >
                        <option hidden selected> Seleccionar una operación de egreso </option>
                        {{#each operacionesEgreso}}
                            <option>ID: {{idOperacion}} | Fecha: {{fecha}} | Monto: {{montoTotal}} </option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <button type="button" onclick="mostrarDetallesEgresoEnPresupuesto()" > Detalle</button>
                </td>
            </tr>
        </table>
             <button type="submit" onclick="mostrarModalPrespuestoConEgreso()"> Seleccionar operación</button>
         </center>
	</center>
    </form>
</div>

<script src="/js/formatoDeTabla.js"></script>
<script src="/js/presupuesto.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<link rel="stylesheet" href="/css/estiloPresupuestos.css" />

{{/partial}}
{{>principalStandar.hbs}}