{{#partial "contenido"}}

<div class = "presupuestos">
    <br>
    <br>

    <form action="/presupuesto" method="post">
     <center>
        <table class= "formulario1">

            <tr>
             <td>Monto Total:</td>
             <td> <input type="number" name="montoTotal" placeholder="Ej: 1000" required></td>
            </tr>
            <tr>
                <td>Tipo de Documento Comercial:</td>
                <td>
                    <select name = "documentoComercial" >
                        <option>Seleccionar documento comercial</option>
                        {{#each tiposDocumentoComercial}}
                            <option>{{nombre}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Numero Documento Comercial:</td>
                <td><input type="number" name="numeroDocumentoComercial" placeholder="Ingrese el numero" required></td>
            </tr>

        </table>
              
        <table class= "formulario3" border = "0">
          <td>Asociar categoria:</td>
               <td>
                   <!--<input type="checkbox" name="categoria1" value="categoria1"> categoria1<br>-->
                   {{#each categoriasCriterio}}
                       <input type="checkbox" name="{{nombreCategoria}}" value="1"> {{nombreCategoria}}<br>
                   {{/each}}
               </td>
        </table>

         <center>


             <table class="formulario2" border="0">
                 <tr style="background-color: white">
                     <td>Item:</td>
                     <td><input type="text" placeholder="Ej: papel" id="item"></td>
                     <td rowspan="2">
                         <div class="buttons">
                             <button type="button" onclick="nuevaFilaEnItems()">Agregar</button>
                         </div>
                     </td>

                     <td rowspan="2"></td>
                 </tr>
                 <tr>
                     <td>Precio:</td>
                     <td><input type="number" placeholder="Ej: 200" id="precio"></td>
                     <td></td>
                 </tr>
             </table>

         </center>

         <center>
             <div class="table-wrapper">
                 <table id="tabla_items">
                     <thead>
                     <tr>
                         <th>ITEMS</th>
                         <th>PRECIO</th>
                         <td>ACCIONES</td>
                     </tr>
                     </thead>
                     <tbody id = "content_table">
                     <tr>
                         <td id="item"></td>
                         <td id="precio"></td>
                          
                     </tr>
                     </tbody>
                 </table>
             </div>
         </center>

	<button type="submit">Cargar</button>
	</center>
    </form>
    
</div>
<link rel="stylesheet" href="/css/estiloPresupuestos.css" />
<script src="/js/formatoDeTabla.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{{/partial}}
{{>principal.hbs}}