{{#partial "contenido"}}

<form>
<div class = "presupuestos">
    <br>
    <br>
    
    <form>
     <center>
        <table class= "formulario1">
          <tr>
             <td>Fecha:</td>
	         <td><input type="date" placeholder="Ingrese la fecha" required></td>
          </tr>

          <tr>
	         <td>Monto Total:</td> 
	         <td> <input type="number" placeholder="Ej: 1000" required></td>
          </tr>

        </table>

        <table class= "formulario2">
	      <tr>	
	          <td>Item:</td> 
	          <td><input type="text" placeholder="Ej: papel" required></td>
              <td rowspan="2">
                        <div >
                            <button  onclick="newRowTable()" >Agregar</button>
                        </div>
              </td>
                    <td rowspan="2"></td>
         </tr>	

          <tr>
              <td> Precio</td> 
	          <td><input type="number" placeholder="Ej: 200" required> </td>

          </tr>
         </table>

	

    
    
    <div class="table-wrapper">
        <table id="tabla_items">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>PRECIO</th>
                    <td>ACCIONES</td>
                </tr>
            </thead>
        <tbody id="content_table">
                <tr>
                    <td name="item"></td>
                    <td name="precio"></td>
                    
                    
                </tr>
            </tbody>

        
        </table>
	</div>

	<button type="submit" >
        Cargar 
    </button>
	</center>
    </form>
    <script src="/js/formatoDeTabla.js"></script>
</div>

{{/partial}}
{{>principal.hbs}}