{{#partial "contenido"}}
<div>
    <label>Fecha</label> <br></br>
	<input type="date" placeholder="Ingrese la fecha" required><br></br>
	<label> Monto Total</label> <br></br>
	<input type="number" placeholder="Ej: 1000" required><br></br>

				
	<label> Descripcion</label> <br></br>
	<input type="text" placeholder="Ej: papel" required><br></br>

	<label> Precio</label> <br></br>
	<input type="number" placeholder="Ej: 200" required><br></br>

    <input type="submit" value="Agregar" class="button" >
    
    <div class="table-wrapper">
        <table id="tabla_items">
            <thead>
                <tr>
                    <th>DESCRIPCION</th>
                    <th>PRECIO</th>
                    <td>ACCIONES</td>
                </tr>
            </thead>
        <tbody id="content_table">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <!--Código para mostrar en celdas -->
                    <td id= "descripcion"></td>
                    <td id= "precio"></td>
                </tr>
            </tfoot>
        </table>
	</div>

	<input type="submit" value="Cargar Presupuesto" class="button" >
	
</div>
{{/partial}}
{{>principal.hbs}}