<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/stylePantalla.css">
    <link  rel="icon"   href="/img/e-commerce.png" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/menu.js"></script>
     <title>Principal</title>
</head>
<body>
    <div class="wrapper">
        <div class="multi_color_border"></div>
        <div class="top_nav">
            <div class="left">
                <div class="logo"><p><span>GESOC</span></p></div>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i> 
                        Mensajes
                    </a></li>
                    <li><a href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Cerrar sesión
                    </a></li>
                </ul>
                
            </div>
        </div>
        <div class="bottom_nav">
            <ul class="link">                        
                <li class="a"><a href="#tab1">Ingresos</a></li>
                <li class="b"><a href="#tab2">Egresos</a></li>
                <li class="c"><a href="#tab3">Presupuestos</a></li>
                <li class="d"><a href="#tab4">Criterios</a></li>
                <li class="e"><a href="#tab5">Listado de operaciones</a></li>
                <li class="f"><a href="#tab6">Asociar operación</a></li>                    
            </ul>
        </div>
        <div class="container">
            {{#block "contenido"}}
   		    {{/block}}
        </div>
    </div>
</body>
</html>