{{#partial "contenido"}}

    <div class = "validadorTransparencia">


        <form >

            <center>
                <h2>Validador de transparencia </h2>
                <table>
                    <tr>
                        <td>Cantidad:</td></td>
                        <td><input type="number" name="cantidad"  placeholder="Ingrese una cantidad" required></td>
                    </tr>

                </table>

                <button type= "submit" >Validar</button>

            </center>


        </form>

    </div>
    <script src="/js/formatoDeTabla.js"></script>

    <link rel="stylesheet" href="/css/estiloValidadorTransparencia.css" />
{{/partial}}
{{>principalStandar.hbs}}