{{#partial "contenido"}}

    <div class = "validadorTransparencia">


        <form >

            <center>
                <h2>CONFIGURAR VALIDADOR DE TRANSPARENCIA </h2>
                <table>
                    <tr>
                        <td>Ingresar día y hora de ejecución:</td></td>
                        <td><input type="number" name="minutos" id="minutos-ok"  placeholder="Ingrese un día y una hora" required> <button type= "submit" onclick = ""  >Guardar</button></td>
                    </tr>

                </table>

                <button type= "submit" onclick = "mostrarModalEjecucionValidador()"  >Ejecutar Validador</button>

            </center>


        </form>

    </div>
    <script src="/js/formatoDeTabla.js"></script>

    <link rel="stylesheet" href="/css/estiloValidadorTransparencia.css" />
{{/partial}}
{{>principalStandar.hbs}}